<form method="post" action="/users/signin">
  <div>
    <label for="username">Enter username:
      <input name="username" id="username" value="<%== params[:username] %>"/>
    </label>
  </div>
  <div>
    <label for="password"> Enter password:
      <input name=password id=password />
    </label>
  </div>
    <button type="submit">Sign In</button>
</form>
